apiVersion: v1
kind: Secret
metadata:
  name: "{{ argocd_repo_name }}"
  namespace: "{{ argocd_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "{{ argocd_repo_url }}"
{% if argocd_repo_ssh_private_key %}
  sshPrivateKey: |
{{ argocd_repo_ssh_private_key | indent(4, true) }}
{% endif %}
